fastapi
uvicorn
python-dotenv
supabase
langchain-groq
langgraph
langchain
langsmith
bcrypt
python-jose[cryptography]
httpx==0.27.0
slowapi
langchain-groq==1.1.2
langchain-core==1.3.2
langgraph==1.1.9
google-generativeai==0.7.2